*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: black;}
body{font-family: 'NanumSquare'; line-height: 24px;}

/*헤더*/
header{height: 185px ; width: 100%; background-color: #eaf1e5; position: relative;}
.small{position: absolute; top: 30px; right :250px;}
.small li{float: left;  padding-left: 30px; opacity: 0.7; font-size: 14px;}
.small li:hover{opacity: 1;}
.logo{position: absolute; top: 30px; left: 50%; transform:translateX(-50%);}
.nav{position: absolute; top: 120px; left: 50%;transform: translateX(-50%) ; width:1344.98px; z-index: 99;}
.nav> li{float: left; font-size: 18px; font-weight:800; width: 20%; height: 64px; text-align: center;  padding: 20px 0px ; box-sizing: border-box;}
.nav> li> a{padding-bottom: 21px; display: block;}
.nav> li> a:hover{ color: #407c4e; font-weight: 800; opacity: 1.0;}

.header_inner{width: 1320px; margin: auto;}
.sub{ background: #9abd94 url(images/sub_bg.png) 100% 100% no-repeat; 
  position: absolute;
  width:100%;
  left: 0;/*왼쪽 위치 값 0으로 만들어주기!*/
  display: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
 
  
}

.sub div{
    width: 1344.9px;
    margin: auto;
    padding: 20px 0px 20px 0px;
    height: 170px;}
.sub ul{
    float: left;
    width: 268.98px;/*메인메뉴의 너비랑 같게 맞춰주기!*/
    text-align: center;}

.sub ul li{height: 44px;}

.sub ul a{
      color: #fff;
      display: block;
      padding: 10px 0;
  }

  
    .sub ul a:hover{
      color: #407c4e;
  }

/* 배너 */
.banner{ width: 100%; }
.swiper-container img{display: block;}

/* 메뉴 */
.menu{width: 100%; height: 640px; background-color: #fff9ea; }
.menu_inner{width: 1320px; height: 640px; background-color: #fff9ea; margin: auto;}
.menu1, .menu2, .menu3, .menu4{width: 330px; float: left; text-align: center;}
.ani1{animation: ani1 2s infinite alternate linear;}
@keyframes ani1{0%{transform: translateY(0);} 100%{transform: translateY(30px);}}
.ani2{animation: ani2 2s infinite alternate linear;}
@keyframes ani2{0%{transform: translateY(30px);} 100%{transform: translateY(0px);}}
.shadow1, .shadow3{animation: s1 2s infinite alternate linear;}
@keyframes s1{0%{transform: translateY(5px);} 100%{transform: translateY(-5px);}}
.shadow2, .shadow4{animation: s2 2s infinite alternate linear;}
@keyframes s2{0%{transform: translateY(-5px);} 100%{transform: translateY(5px);}}


.menu1{position: relative;}
.shadow1{position: absolute; top:200px; left: 130px;}
.menu2{position: relative;}
.shadow2{position: absolute; top: 205px; left: 90px;}
.menu3{position: relative;}
.shadow3{position: absolute; top:200px; left: 130px;}
.menu4{position: relative;}
.shadow4{position: absolute; top: 205px; left: 100px;}

.menu p{font-size: 17px; line-height: 25px; }
.menu h2{font-family: 'Shrikhand'; font-size: 40px; color: #407c4e; text-align: center; padding-top: 100px; padding-bottom: 40px;}
.menu h3{font-size: 25px ; text-align: center; padding-bottom: 80px;}

.menu1 h4{font-size:18px; color: #2e5d04; padding: 80px 0px 25px 0px; font-weight: bold;}

.menu2{padding-top: 60px;}
.menu2 h4{font-size:18px; color: #2e5d04; padding: 80px 0px 25px 0px; font-weight: bold;}

.menu3 h4{font-size:18px; color: #2e5d04; padding: 80px 0px 25px 0px; font-weight: bold;}

.menu4{padding-top: 60px;}
.menu4 h4{font-size:18px; color: #2e5d04; padding: 80px 0px 25px 0px; font-weight:bold;}


/* 프로모션,멤버십 */
.pm{width: 1320px; height: 610px; position: relative; margin: auto;}
.promotion{position: absolute; left: 50px; top: 130px; }
.membership{position: absolute; left: 700px; top: 130px;}
.pm_button{padding: 10px 15px; color: #eaf1e5;background: #407c4e; border-radius: 20px; font-weight: 700; font-size: 18px ;position: absolute;
top: 400px; left:95px;}
.pm_button:hover{background-color: #daa335;font-weight: 800;color: #1b350b;}
.pm_button2{padding: 10px 15px; color: #eaf1e5;background: #407c4e; border-radius: 20px; font-weight: 700; font-size: 18px ;position: absolute;
  top: 400px; right:470px;}
  .pm_button2:hover{background-color: #d3e6cd;font-weight: 800;color: #1b350b;}



/* 브랜드스토리 */
.brand{width: 100%; height: 700px; position: relative;}
.brand img{width: 100%;}
.button{border:6px #a6c4a0 solid; border-radius: 30px; padding: 20px 25px ; font-size:20px; color: #eaf1e5; position: absolute; bottom: 120px ; left:180px;font-weight: bold;}
.button:hover{background-color: #edfde1; color: #092b09; border: 6px solid #edfde1; font-weight: 800; }


/* MD상품 */
.MD{width: 1320px; height:520px; margin: auto; position: relative;}
.MD h2{font-family: 'Shrikhand'; text-align: center; font-size: 40px; color: #407c4e; padding-top: 100px; padding-bottom: 30px;}
.MD h3{text-align: center; margin-bottom: 60px;}
.MD div{float :left; width: 272px; height: 272px; background-color: #c7d4c7; border-radius: 30px;}

.md1{position: relative;}
.classic{position: absolute; top: 85px ;left: 60px;}
.stamp1{position: absolute; top:25px; left: 0px;}
.review{position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5); text-align: center; opacity: 0  ; transition: all 0.5s;}
.s3{font-size: 18px;}
.review h3{padding: 80px 20px 35px 70px; font-size: 24px; margin-bottom: 0; background: url(images/star.png) no-repeat 40px 75px; color: #355235;}
.review p{font-size: 18px; font-style: italic; line-height: 28px;}
.md1:hover .review{opacity: 1;}


.md2{margin: 0px 60px 0px 60px; position: relative;}
.sunlight{position: absolute; top: 75px ;left: 60px}
.review2{position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5); text-align: center; opacity: 0  ; transition: all 0.5s; }
.review2 h3{padding: 80px 20px 35px 70px; font-size: 24px; margin-bottom: 0; background: url(images/star.png) no-repeat 40px 75px; color: #355235;}
.review2 p{font-size: 18px; font-style: italic; line-height: 28px;}
.md2:hover .review2{opacity: 1;}


.md3{margin-right: 60px; position: relative;}
.diary{position: absolute; top: 50px; left: 75px;}
.review3{position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5); text-align: center; opacity: 0  ; transition: all 0.5s;}
.review3 h3{padding: 80px 20px 35px 70px; font-size: 24px; margin-bottom: 0; background: url(images/star.png) no-repeat 40px 75px; color: #355235;}
.review3 p{font-size: 18px; font-style: italic; line-height: 28px;}
.md3:hover .review3{opacity: 1;}


.md4{position: relative; margin-right: 40px;}
.tumbler{position: absolute; top:25px; left:100px;}
.stamp2{position: absolute; top:25px; left: 0px;}
.review4{position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5); text-align: center; opacity: 0  ; transition: all 0.5s;}
.review4 h3{padding: 80px 20px 35px 70px; font-size: 24px; margin-bottom: 0; background: url(images/star.png) no-repeat 40px 75px; color: #355235;}
.review4 p{font-size: 18px; font-style: italic; line-height: 28px;}
.md4:hover .review4{opacity: 1;}



.text{width: 1320px; margin: auto; height: 270px;}
.text div{float: left;}

.text1{ width: 272px; height: 128px; }
.text1 h4{margin-bottom: 20px; font-size: 19px; padding: 30px 20px 10px 50px; box-sizing: border-box;}
.product1:hover{color: #407c4e;}
.text1 p{background: #d3e6cd; display: inline-block; padding: 15px 15px; border-radius: 15px; font-size: 18px; margin-left: 47px; font-weight: bold;}
.text1 p:hover{background-color: #fbf6a7; color: #355235; font-weight: bold;}
.s1{color: #eb3f21; font-weight: bold;}


.text2{ width: 272px; height: 128px; margin-left: 60px; }
.text2 h4{margin-bottom: 20px; font-size: 19px; padding: 30px 20px 10px 50px; box-sizing: border-box;}
.text2 p{background: #d3e6cd; display: inline-block; padding: 15px 15px; border-radius: 15px; font-size: 18px; margin-left: 80px; font-weight: bold;}
.text2 p:hover{background-color: #fbf6a7; color: #355235; font-weight: bold;}

.text3{ width: 272px; height: 128px; margin-left: 60px; }
.text3 h4{margin-bottom: 20px; font-size: 19px; padding: 30px 20px 10px 55px; box-sizing: border-box;}
.text3 p{background: #d3e6cd; display: inline-block; padding: 15px 15px; border-radius: 15px; font-size: 18px; margin-left: 90px; font-weight: bold;}
.text3 p:hover{background-color: #fbf6a7; color: #355235; font-weight: bold;}

.text4{ width: 272px; height: 128px; margin-left: 60px; }
.text4 h4{margin-bottom: 20px; font-size: 19px; padding: 30px 20px 10px 48px; box-sizing: border-box;}
.text4 p{background: #d3e6cd; display: inline-block; padding: 15px 15px; border-radius: 15px; font-size: 18px; margin-left: 90px; font-weight: bold;}
.text4 p:hover{background-color: #fbf6a7; color: #355235; font-weight: bold;}






/* SNS바로가기 */
.sns{width: 100%; height:600px; background-color: #eaf1e5;}
.sns_inner{width: 1320px; margin: auto; height: 600px;}
.sns_inner ul{padding-top: 50px;}
.sns_inner ul li{float: left;}
.sns_inner ul li:nth-child(1){ font-weight: 800; color: #355235;font-size: 30px; padding-top: 20px;padding-left: 120px;}
.sns_inner ul li:nth-child(2){ margin-left:120px; margin-right: 30px; padding:20px 25px 20px 60px; font-weight: bold; font-size: 18px; background: url(images/insta.png) no-repeat 13px 50% #355235; border-radius: 15px ;}
.sns_inner ul li:nth-child(2):hover{background-color: #407c4e;}
.sns_inner ul li:nth-child(3){ margin-left:10px; padding:20px 25px 20px 60px; font-weight: bold; font-size: 18px; background: url(images/kakao.png) no-repeat 13px 50% #355235; border-radius: 15px ;}
.sns_inner ul li:nth-child(2):hover{background-color: #407c4e; font-weight: bold;}
.sns_inner ul li:nth-child(3):hover{background-color: #407c4e;
font-weight: bold; }
.sns_inner ul li a{color: #eaf1e5;}
.s2{color: #ff4f01;}

.sns_inner h2{clear: both; padding-top: 50px; padding-bottom: 10px; padding-left: 100px; font-family: 'Shrikhand'; font-size: 36px; color: #407c4e;}


/* 푸터 */
footer{width: 100%; height: 340px; background: #355235; margin-top:0px;}
.footer_inner{margin: auto; width: 1320px; height: 340px; position: relative;}
.w_logo{position:absolute;top: 30px;}

.footer1{position: absolute; top:30px; right: 125px; }
.footer1 li{float: left ; padding-left: 20px; opacity: 0.7;}
.footer1 li:nth-child(1){background: url(images/insta.png) no-repeat 0px 10px  ; padding: 15px 20px 15px 40px;}
.footer1 li:nth-child(2){background: url(images/kakao.png) no-repeat 0px 10px  ; padding: 15px 20px 15px 40px;}
.footer1 li a{ color: #eaf1e5;  font-size: 18px;}
.footer1 li:hover{opacity: 1; font-weight: bold;}


.footer2{position: absolute; top: 200px;}
.footer2 li{opacity: 0.7;}
.footer2 li{float: left; }
.footer2 li {color: #eaf1e5;}
.footer2 li a{color: #eaf1e5; font-size: 17px; }
.footer2 li:nth-child(2){padding: 0px 10px 0px 10px;}
.footer2 li:nth-child(4){padding: 0px 10px 0px 10px;}
.footer2 li:hover{opacity: 1; font-weight: bold;}

.footer3{position: absolute ; top:245px; color: #eaf1e5; font-size: 17px;}


.footer4{position: absolute; top: 150px; right: 150px;}
.footer4 h3{color: #eaf1e5;font-size: 24px;}
.cs{padding-top:20px;}
.cs li {color: #eaf1e5; font-size: 17px;}
.cs li:nth-child(3){padding-left:125px;}

.copyright{width: 100%; height: 60px; background: #7aa47a;}
.copyright p{text-align: center; color: #eaf1e5; font-size: 18px; padding-top: 21px;}